.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(278px, 1fr));
  grid-gap: 16px;
}

.cards > ul > li {
  border: 1px solid var(--color-neutral-500);
  background-color: var(--background-color)
}

.cards.block li {
  transition: all 250ms cubic-bezier(.25,.8,.25,1);
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards .cards-card-body > *:first-child {
  margin-top: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

@media (width >= 1024px) {
  .cards.block li:hover {
    transform: scale(1.1);
    box-shadow: 0 3px 7px rgba(0,0,0,0.12), 0 3px 7px rgba(0,0,0,0.24);
  }
}

/* .cards-card-image:hover {
} */
