.scroll-to-top-wrapper {
  .scroll-to-top {
    display: none;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 25px;
    right: 25px;
    background-color: var(--color-brand-500);
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.75;

    &:hover {
      opacity: 1;
      transform: translateY(-5px);
    }

    &:first-child {
      background-image: url(../../../icons/chevron-up-white.svg);
      background-repeat: no-repeat;
      background-size: 25px;
      background-position: center;
    }
  }
}
