@import './_variables.scss';
@import './_searchbar.scss';
@import './_cms-pages.scss';

/* check package.json for the sass commands;
this file gets overriten though by the css files in the `blocks` components,
even though is added last in head.html */

/* Typography */
@media (max-width: 1023px) {
  h1 {
    font-size: 28px;
    line-height: 1.6;
  }
  h2 {
    font-size: 24px;
    line-height: 1.6;
  }
}
