footer {
  padding: 2rem;
  background-color: #f6f6f6;
  font: var(--type-body-2-default-font);
  letter-spacing: var(--type-body-2-default-letter-spacing);
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}

footer .default-content-wrapper p:first-child {
  margin-bottom: 16px;
}
