.product-recommendations-container {
    max-width: 1264px;
    margin-left: auto;
    margin-right: auto;
}

main .section>div.product-recommendations-wrapper {
    max-width: 100%;
    padding: 0;
    text-align: left;
    margin: 0 0 5rem;
}

.product-recommendations {
    overflow: hidden;
    min-height: 512px;
}

.product-recommendations h2 {
    font-family: poppins;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.2;
}

.product-recommendations .scrollable {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    padding-bottom: 1rem;
}

.product-recommendations .product-grid {
    display: inline-flex;
    flex-wrap: nowrap;
    gap: 2rem;
    margin: 0;
    padding: 10px;
}

.product-recommendations .product-grid-item img {
    width: 100%;
}

.product-recommendations .product-grid .product-grid-item a {
    text-decoration: none;
}

.product-recommendations .product-grid .product-grid-item a:hover,
.product-recommendations .product-grid .product-grid-item a:focus {
    text-decoration: underline;
}

.product-recommendations .product-grid .product-grid-item span {
    overflow: hidden;
    box-sizing: border-box;
    margin: 0;
    padding: 1rem;
    display: inline-block;
    font-family: 'poppins';
    font-weight: 500;
    font-size: 18px;
    color: black;
    text-align: center;
}

.product-recommendations .product-grid picture {
    background: none;
    display: block;
    width: 250px;
    aspect-ratio: 1 / 1.25;
}

.product-recommendations .product-grid img {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    object-fit: contain;
    background: none;
    transition: all 250ms cubic-bezier(0.25, 0.8, 0.25, 1);

    &:hover {
        transform: scale(.9);
    }
}

.product-recommendations .product-grid .placeholder {
    background-color: var(--color-neutral-500);
    scroll-snap-align: start;
}

.product-recommendations .product-grid .placeholder img {
    display: none;
}

.product-recommendations .product-grid-item {
    margin: 0;
    scroll-snap-align: start;
    transition: all 250ms cubic-bezier(0.25, 0.8, 0.25, 1);

    &:hover {
        box-shadow: 0 3px 7px rgba(0, 0, 0, 0.12), 0 3px 7px rgba(0, 0, 0, 0.24);
    }
}

.pdp-product__title {
    font-family: 'poppins';
    font-weight: 500;
}

@media (width >= 900px) {
    .product-recommendations {
        min-height: 534px;

        h2 {
            font-size: 35px;
            line-height: 1.4;
        }
    }
}